# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Testing
.pytest_cache/

# AWS SAM
.aws-sam/
samconfig.toml 

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db